<%- include('template/header', { title: 'Dashboard // '+settings.server }) %> <%- include('template/navbar') %>
<div class="container">
	<div class="dashboard-container mt-4">
		<div class="dashboard-card">
			<div class="dashboard-card-content">
				<div class="dashboard-card-text">
					<span class="dashboard-title">25/11/24 20:01</span>
					<span class="dashboard-subtitle">Último Login</span>
				</div>
				<i class="fa fa-clock-rotate-left"></i>
			</div>
		</div>
		<div class="dashboard-card">
			<div class="dashboard-card-content">
				<div class="dashboard-card-text">
					<span class="dashboard-title">12</span>
					<span class="dashboard-subtitle">Doações</span>
				</div>
				<i class="fa fa-sack-dollar"></i>
			</div>
		</div>
		<div class="dashboard-card">
			<div class="dashboard-card-content">
				<div class="dashboard-card-text">
					<span class="dashboard-title">12</span>
					<span class="dashboard-subtitle">Compras</span>
				</div>
				<i class="fa fa-shopping-basket"></i>
			</div>
		</div>
	</div>

	<div class="row mt-4">
		<div class="col-md-8">
			<div class="online">
				<p>Olá Revoltz, bem-vindo(a) ao seu Painel do Jogador</p>
			</div>
		</div>
		<div class="col-md-4">
			<div class="online">
				<h5 class="font-1">Meus personagens</h5>
			</div>
		</div>
	</div>
</div>
<%- include('template/footer') %>
